<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.focc.cavy.mapper.BackUpJobMapper" >


    <select id="getLessNowDateJob" resultType="cc.focc.cavy.model.entity.BackUpJob">
        select *
        from backup_job
        where job_type = 1
        and job_enable = 'ON'
        and next_time &lt;= #{nowDate}
    </select>

</mapper>